.body{
  height:500px;
  width: 400px;
  /* padding: 10px; */
  background-color: #D7D8D9;
  /* background-color: black; */
  margin: auto;
  /* padding: 10px; */
}
img{
  height: 80%;
  width: 80%;
  padding: 5px;
}
.image-div {
  background-color: white;
  margin: auto;
  width: 33%;
  height: 100%;
}
.banner{
  border: 3px solid #fff;
  padding: 0px;
  text-align: center;
  height: 40px;
  color: #f6f7f7;
  background-color: #0679c0;
  margin-top: 0px;
}
.banner-child{
  float: left;
}
.banner-child-content{
  width: 66%;
  padding-top: 20px;
}
.banner-text{
  font-size: 25px;
}
.banner-content{
  font-size: 12px;
}
.github-button{
  width: 50px;
  border-radius: 100%;
  padding: 10px;
}

table{
  float: right;
  font-size: 13px;
  width: 95%;
  font-family: 'Roboto', sans-serif;
  color: #23272b;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #c9c6c6;
  margin: 10px;
  padding: 10px;
  z-index: 20;
}
/* #d0d0d0 */
td{
  margin: auto;
  width: 50%;
  padding: 10px;
}
tr{
  height: 20px;
}

.buttons{
  text-align:center;
  height:auto;
  margin: 0;
}
.github-at{
  color: white;
}

.gitlab-at{
  color: white;
}
.gitlab{
  background-color: #f0a126;
}
.github{
  background-color: #24292f;
}
.google{
  background-color: #e44f36;
}
.inputs{
  display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
height: 25px;
}



article{
  grid-gap: 0px calc(var(--i)*5em);
  grid-template: repeat(2, max-content)/var(--d) 1fr;
  position: relative;
  margin: 1em auto;
  border: solid 0.5em transparent;
  padding: 0.125em;
  width: calc(var(--i)*32em + var(--ci)*100%);
  min-height: 5em;
  /* border-radius: calc(var(--i)*2.5em); */
  background: radial-gradient(circle at 0 10em, rgba(0, 0, 0, calc(var(--i)*.8)) 2.5em, transparent 11.25em) border-box, linear-gradient(#dbdbdb, #fff) content-box, linear-gradient(var(--slist)) padding-box, linear-gradient(#fff, #dcdcdc) border-box;
  font: 1.5em/1.375 trebuchet ms, verdana, sans-serif;
  /* clip-path: var(--wide, inset(0 round 2.5em)); */
  /* border-radius: 20px; */
  box-shadow: 0 0 20px 8px #c9c6c6;
}

.position-relative {
  position: relative;
}

.done {
  position: absolute;
  bottom: 8px;
  width: 16px;
  right: 5px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-none {
  display: none;
}